@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Play&display=swap');

* {
    font-family: 'Marcellus', serif;
    box-sizing: border-box;
    background-color: black;
    color: white;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;
}

.navbar-tabs {
    display: flex;
    gap: 5rem;
}

navbar-tabs, li {
    list-style-type: none;
    }

navbar-tabs, a {
    text-decoration: none;
    }

.headshot {
    max-width: 30rem;
    clip-path: circle();
}

.home-page-elements {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    position: absolute;
    top: 25%;
    left: 25%;
}

.home-page-intro-text {
    text-align: center;
}

.home-page-intro-text > h1 {
    font-size: 3rem;
}

.home-page-intro-text > p {
    font-size: 1.5rem;
}

.collapsible {
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }

  .active, .collapsible:hover {
    color: rgb(160, 160, 160);
  }


.about-collapsibles {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
  }

  .about-collapsibles, p {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
    text-align: center;
    width: 80%;
  }

  .collapsible {
    text-align: center;
    font-size: 2.5vw;
  }

  .school-logos {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 5%;
  }

  .school-logo {
    max-width: 8rem;
    border-radius: 25px;
    object-fit: fill;
  }

  .job-history {
    text-align: start;
  }