@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Play&display=swap');

* {
    font-family: 'Marcellus', serif;
    box-sizing: border-box;
    background-color: black;
    color: white;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;
}

.navbar-tabs {
    display: flex;
    gap: 5rem;
}

navbar-tabs, li {
    list-style-type: none;
    }

navbar-tabs, a {
    text-decoration: none;
    }

.headshot {
    max-width: 30rem;
    clip-path: circle();
}

.home-page-elements {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    position: absolute;
    top: 25%;
    left: 25%;
}

.home-page-intro-text {
    text-align: center;
}

.home-page-intro-text > h1 {
    font-size: 3rem;
}

.home-page-intro-text > p {
    font-size: 1.5rem;
}

.about-page-collapsible-section {
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }

  .active, .about-page-collapsible-section:hover {
    color: rgb(160, 160, 160);
  }