@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Play&display=swap');

* {
    font-family: 'Marcellus', serif;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
}

.navbar-tabs {
    display: flex;
    gap: 1rem;
}
